<div class="container" id="footer">
    
    <div class="row">
        <div class="col-md-2" id="nav-links">
            
            <h2>Navigation Links</h2>
            <ul>
                <li><a href="index.jsp">Home Page</a></li>
                <li><a href="surveysboard.jsp#surveys">Surveys</a></li>
                <li><a href="surveysboard.jsp#competitions">Competitions</a></li>
                <li><a href="support.jsp">Support</a></li>
                <li><a href="faqs.jsp">Faqs</a></li>
                
            </ul>
        </div>
        
        <div class="col-md-2" id="rel-links">
            
            <h2>Related Links</h2>
            
            <ul>
                <li><a href="https://wateroffice.ec.gc.ca/" target="_blank">Water Level and Flow</a></li>
                <li><a href="https://www.usgs.gov/" target="_blank">USGS.gov</a></li>
                <li><a href="environment.data.gov.uk/ds/survey/" target="_blank">Survey Open Data</a></li>
                <li><a href="www.mw.k12.ny.us/community/school-climate-and-environment/parent-survey-sites" target="_blank">School Climate</a></li>
                <li><a href="www.bgs.ac.uk/" target="_blank">British Geological Survey (BGS)</a></li>
                <li><a href="www.enterprisesurveys.org/" target="_blank">Enterprise Surveys</a></li>
                
            </ul>
        </div>
        
        <div class="col-md-4">
            
            <div class="input-group" id="subscribe">
                <input type="email" name="email" id="email" value="" class="form-control subscribe" placeholder="Enter your email here" required />
      			<span class="input-group-btn">
        			<button name="button" type="submit" class="btn btn-default" id="btn-subscribe">Subscribe</button>
</span>    </div>
            
        </div>
        
        <div class="col-md-4" id="brief-support">
            <h2>Support Links</h2>
            <img src="images/brief-support.png" alt="brief support links"/>
            
            <ul>
                <li><a href="tel:+254 20 344 3357"><span>Support</span> : +254 20 344 3357</a></li>
                <li><a href="support.jsp" target="_blank">Support Page</a></li>
                <li><a href="mailto:support@greenspace-environment.com">support@greenspace-environment.com</a></li>
                
            </ul>
        </div>
        
        
    </div>
    
    <div class="row" id="copyright">
			<small>
                                &copy; <span class="currentYear">&nbsp;</span>
                                <script>
//<![CDATA[

                                        $(function(){
                                                $('.currentYear').html((new Date).getFullYear());
                                        });

//]]>
</script>                                GreenSpace Environment.All Rights Reserved.
                        </small>
	</div>
</div>