@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto|Roboto+Slab|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Caveat|Courgette|IM+Fell+Double+Pica:400i');
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}




#header {
    
    background-image: url("../images/background.jpg");
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
}

#footer {
    width: 100%;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    background: linear-gradient(
      rgba(48,48,48, 0.75), 
      rgba(48,48,48, 0.75)
    ), url("../images/footerback.jpg");
}

#nav-links h2 {
    font-size: 22px;
    font-weight: 700;
    padding-left: 50px;
    font-family: 'Noto Serif', serif;
    color: #fff;
    text-decoration: none;
}

#nav-links ul {
    padding-left: 65px;
}

#nav-links ul li {
    list-style-type: none;
}

#nav-links ul li a:hover {
    text-decoration: none;
    color: #ffb732;
}

#nav-links ul li a {
    color: #1ca3ec;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    font-family: 'Source Sans Pro', sans-serif;
}

#rel-links h2 {
    font-size: 22px;
    font-weight: 700;
    padding-left: 25px;
    font-family: 'Noto Serif', serif;
    color: #fff;
    text-decoration: none;
}

#rel-links ul {
    
    padding-top: 25px;
}

#rel-links ul li {
    list-style-type: none;
}

#rel-links ul li a {
    color: #46d246;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    font-family: 'Source Sans Pro', sans-serif;
}

#rel-links ul li a:hover {
    text-decoration: none;
    color: #ffb732;
}

#subscribe {
    padding-top: 100px;
}

#subscribe input {
    margin-top: 1px;
}

#subscribe span {
   position: absolute;
   margin-left: 203px;
}

#subscribe button {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FFA500;
    border: 1px solid #FFA500;
}

#subscribe button:hover {
    background-color: #202020;
    border: 1px solid #202020;
}

#copyright {
    text-align: center;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 10px;
    color: #E8E8E8;
}

#brief-support h2 {
    font-size: 22px;
    font-weight: 700;
    padding-left: 50px;
    font-family: 'Noto Serif', serif;
    color: #fff;
    text-decoration: none;
} 

#brief-support img {
    padding-top: 20px;
    padding-left: 40px;
}

#brief-support ul {
    padding-top: 25px;
    padding-left: 65px;
}

#brief-support ul li {
    list-style-type: none;
}

#brief-support ul li a {
    
    color: #1ca3ec;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    font-family: 'Source Sans Pro', sans-serif;
}

#brief-support ul li a:hover {
    text-decoration: none;
    color: #ffb732;
}


#buttons a {
    
    padding: 10px 30px 12px 30px;
    margin-right: 8px;
    margin-top: 100px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FFA500;
    border: 1px solid #FFA500;
}

#buttons a:hover {
    background-color: #202020;
    border: 1px solid #202020;
}

#logo-link img {
    
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

#logo-link {
    text-decoration: none;
}

#logo-link h2 {
    font-size: 25px;
    font-weight: 700;
    padding-left: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    text-decoration: none;
}

#logo-link h2:hover {
        color: #FFA500;
}

#env-navmenu {
   border-radius: 0px;
}

#env-navmenu ul {
    float: right;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
}

#env-navmenu ul li {
    margin-right: 60px;
}

#login-form {
    width: 40%;
    margin-top: 70px;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    padding: 30px;
}
#login-form label {
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    margin-top: 5px;
}
#login-form button {
    
    background-color: #009900;
    border: 1px solid #009900;
    border-radius: 0px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#login-form button:hover {
    background-color: #404040;
    border: 1px solid #404040;
    
}

#login-form span a{
    
    float: right;
    margin-top: 10px;
    text-decoration: none;
}

#register-form {
    width: 40%;
    height: auto;
    margin-top: 70px;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    padding: 30px;
    
}
#register-form label {
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    margin-top: 5px;
}
#register-form button {
    
    background-color: #009900;
    border: 1px solid #009900;
    border-radius: 0px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#register-form button:hover {
    background-color: #404040;
    border: 1px solid #404040;
    
}

#register-form span a{
    
    float: right;
    margin-top: 10px;
    text-decoration: none;
}

#register-form p{
    
    margin-top: 20px;
}

.ui-datepicker {
    background: #fff; /* Old browsers */
    background: #fff -moz-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* FF3.6+ */
    background: #fff -webkit-gradient((linear, left top, left bottom, color-stop(0%,#fcfcfc)), color-stop(100%,#fff)); /* Chrome,Safari4+ */
    background: #fff -webkit-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* Chrome10+,Safari5.1+ */
    background: #fff -o-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* Opera11.10+ */
    background: #fff -ms-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* IE10+ */
    background: #fff linear-gradient(top, #fcfcfc 0%, #fff 100%); /* W3C */
    font-size:11px;
    padding:10px;
    border:1px solid #ccc;
}
 
.ui-datepicker table {
    width:278px;
}
 
.ui-datepicker table td {
    text-align:center;
}
 
.ui-datepicker a {
    cursor:pointer;
    text-decoration:none;
}
 
.ui-datepicker-prev {
}
 
.ui-datepicker-next {
    float:right;
}
 
.ui-datepicker-title {
    text-align: center;
    font-weight:bold;
}

#resetpass-form {
    width: 40%;
    margin-top: 70px;
}
#resetpass-form label {
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    margin-top: 5px;
}
#resetpass-form button {
    
    background-color: #FFA500;
    border: 1px solid #FFA500;
    border-radius: 0px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#resetpass-form button:hover {
    background-color: #009900;
    border: 1px solid #009900;
    
}

#resetpass-form span a{
    
    float: right;
    margin-top: 10px;
    text-decoration: none;
}


#faqs_head {
    
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #404040;
    margin-bottom: 10px;
}

#faqs_head h2:hover {
    color: #FFA500;
}

#faqs_jumbotron {
    border-radius: 0px;
    color: #ffffff;
}

#faqs_jumbotron p {
    
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    text-align: center;
}
.query {
    margin-top: 10px;
    border-radius: 5px 5px 0px 0px;
    border: 0px;
    
}
.query h5 {
    
    font-size: 20px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
}
.query span {
     color: #FFFFFF;
}
.query, .soln {
    padding: 2px;
    text-align: center;
    background-color: #2db82d;
}
.soln {
    background-color:#006400;
    border: solid 1px #c3c3c3;
    padding: 40px;
    display: none;
}
.soln a {
    font-weight: 400;
}
.soln a:hover {
    color: #ffb732;
    text-decoration: none;
}
.soln ul li {
    color: #FFFFFF;
    list-style-type: decimal;
}
.soln ul li h6 {
    font-size: 50px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
}

h2{
    color: #ffffff;
}


#submit-form form {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    padding: 30px;
    line-height: 30px;
}
#submit-form form:hover{
    border: 1px solid #FFA500;
    -webkit-box-shadow: 0px 0px 34px 1px rgba(250,172,15,1);
    -moz-box-shadow: 0px 0px 34px 1px rgba(250,172,15,1);
    box-shadow: 0px 0px 34px 1px rgba(250,172,15,1);
}
#submit-form h4 {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #404040;
    margin-right: 130px;
}
#submit-form button {
    background-color: #009900;
    border: 1px solid #009900;
    border-radius: 4px;
    margin-top: 15px;
}
#submit-form button:hover {
    background-color: #FFA500;
    border: 1px solid #FFA500;
    
}
#support-header {
    font-family: 'Courgette', cursive;
    font-size: 25px;
    text-align: center;
    color: #FFA500;
}
.support-contact {
    margin-top: 50px;
}
.support-contact img {
    width: 140px;
    height: 140px;
}
.support-contact h5 a {
    font-size: 15px;
    font-family: 'Noto Serif', serif;
    line-height: 16px;
    font-weight: 500;
}
.support-contact h5 a:hover {
    color: #FFA500;
    text-decoration: none;
}
.support-contact h5 a span {
    color: #46d246;
}
#faqs-snip {
    padding-top: 25px;
}
#faqs-snip img {
    padding-top: 10px;
}
#faqs-snip p {
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}
#faqs-snip p a:hover {
    color: #46d246;
}
.errors {
    color: #ff3232;
    margin-bottom:15px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    display: block;
}
#dropdownMenu1 {
    padding: 6px 40px 8px 40px;
    margin-right: 8px;
    margin-top: 100px;
    font-size: 18px;
    font-weight: 600;
    color: #f7f7f7;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffb732;
    border: 2px solid #ffb732;
    border-radius: 1px;
}
#details {
       position: relative;
    border-radius: 0px;
    margin: 0px;
    padding-right: 13px;
}
#details li a:hover {
    background-color: #ffb732;
    color:#f7f7f7; 
}
#new-surveys {
    width: 93%;
    margin-left: 50px;
    background: linear-gradient(
      rgba(34,139,34, 0.35), 
      rgba(34,139,34, 0.35)
    ), url("../images/index-back.jpg");
    border-radius: 3px;
}
#new-surveys h3 {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    margin-right: 30px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    border-radius: 4px;
    display: inline-block;
    margin-left: 80px;
    margin-bottom: 15px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card p {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fcfcfc;
}
.card div {
    padding: 2px 16px;
}
.card button {
    float: right;
    margin-bottom: 5px;
    background-color: #009900;
    border: 1px solid #009900;
    border-radius: 3px;
}
.card button a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}
.card button:hover {
    background-color: #ffb732;
    border: 1px solid #ffb732;
}
.brief-competition {
    overflow-y: auto;
    height: 250px;
    border-radius: 3px;
    margin-left: 50px;
    margin-right: 25px;
}
.surveys-done {
    overflow-y: auto;
    height: 250px;
    border-radius: 3px;
    margin-left: 50px;
    margin-right: 45px;
}
.comp-heading {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #202020;
    margin-right: 30px;
}

.h4reg{
        font-size: 25px;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #404040;
}
.required{
    padding-left: 2px;
    color: #e32;
    display:inline;
}


@media only screen and (max-width: 768px){  
    .h4reg{
            font-size: 25px;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #404040;
    }
        #buttons a {
            margin-right: 10px;
            margin-left: 20px;
            margin-top: 10px;
        }       
        #logo-link h2 {
            padding-left: 20px;
        }
        #env-navmenu ul {
            float: left;
            margin-left: 20px;
        }
        #env-navmenu ul li {
            margin-right: 0px;
        }
        #login-form {
           width: auto;
           margin-top: 70px;
        }
        #resetpass-form {
           width: auto;
           margin-top: 70px;
        }
        #register-form {
           width: auto;
           margin-top: 70px;
        }
        #submit-form form {
            width: auto;
        }
        #submit-form h4 {
            margin-right: auto;
        }
        #subscribe {
            padding-top: 15px;
            margin-left: 25px;
        }
        #nav-links h2 {
            padding-left: 25px;
        }
        #nav-links ul {
            padding-left: 25px;
        }
        #rel-links h2 {
            padding-left: 25px;
        }
        #rel-links ul {
            padding-left: 25px;
            padding-top: 5px;
        }
        #brief-support ul {
            padding-left: 25px;
        }
        #brief-support h2 {
            padding-left: 25px;
        } 
        #brief-support img {
            padding-left: 20px;
        }
        #dropdownMenu1 {
            margin-left: 22px;
            margin-right: 0px;
        }
        #details {
            position: absolute;
            margin-left: 22px;
        }
        #new-surveys {
           margin-left: 5px;
           width: 95%;
           padding-right: 10px;
           padding-left: 5px;
        }        
        .card {
            display: block;
            margin-left: 5px;
            width: auto;
            padding-bottom: 40px;
        }        
        .brief-competition {
            margin-left: 5px;
            margin-right: 13px;
        }        
        .surveys-done{
            margin-top: 15px;
            margin-left: 5px;
            margin-right: 13px;
        }
        
        
        
}



@media (min-width:769px) and (max-width:1024px){
    
    
    .h4reg{
            font-size: 25px;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #404040;
    }
#header {
    
    background-image: url("../images/background.jpg");
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
}

#footer {
    width: 100%;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    background: linear-gradient(
      rgba(48,48,48, 0.75), 
      rgba(48,48,48, 0.75)
    ), url("../images/footerback.jpg");
}

#nav-links h2 {
    font-size: 22px;
    font-weight: 700;
    padding-left: 50px;
    font-family: 'Noto Serif', serif;
    color: #fff;
    text-decoration: none;
}

#nav-links ul {
    padding-left: 65px;
}

#nav-links ul li {
    list-style-type: none;
}

#nav-links ul li a:hover {
    text-decoration: none;
    color: #ffb732;
}

#nav-links ul li a {
    color: #1ca3ec;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    font-family: 'Source Sans Pro', sans-serif;
}

#rel-links h2 {
    font-size: 22px;
    font-weight: 700;
    padding-left: 25px;
    font-family: 'Noto Serif', serif;
    color: #fff;
    text-decoration: none;
}

#rel-links ul {
    
    padding-top: 25px;
}

#rel-links ul li {
    list-style-type: none;
}

#rel-links ul li a {
    color: #46d246;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    font-family: 'Source Sans Pro', sans-serif;
}

#rel-links ul li a:hover {
    text-decoration: none;
    color: #ffb732;
}

#subscribe {
    padding-top: 100px;
    margin-left: 30px;
}

#subscribe input {
    margin-top: 1px;
}

#subscribe button {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FFA500;
    border: 1px solid #FFA500;
}

#subscribe button:hover {
    background-color: #202020;
    border: 1px solid #202020;
}

#copyright {
    text-align: center;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 10px;
    color: #E8E8E8;
}

#brief-support h2 {
    font-size: 22px;
    font-weight: 700;
    padding-left: 50px;
    font-family: 'Noto Serif', serif;
    color: #fff;
    text-decoration: none;
} 

#brief-support img {
    padding-top: 20px;
    padding-left: 40px;
}

#brief-support ul {
    padding-top: 25px;
    padding-left: 65px;
}

#brief-support ul li {
    list-style-type: none;
}

#brief-support ul li a {
    
    color: #1ca3ec;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    font-family: 'Source Sans Pro', sans-serif;
}

#brief-support ul li a:hover {
    text-decoration: none;
    color: #ffb732;
}


#buttons a {
    
    padding: 10px 30px 12px 30px;
    margin-right: 8px;
    margin-top: 100px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FFA500;
    border: 1px solid #FFA500;
}

#buttons a:hover {
    background-color: #202020;
    border: 1px solid #202020;
}

#logo-link img {
    
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

#logo-link {
    text-decoration: none;
}

#logo-link h2 {
    font-size: 25px;
    font-weight: 700;
    padding-left: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    text-decoration: none;
}

#logo-link h2:hover {
        color: #FFA500;
}

#env-navmenu {
   border-radius: 0px;
}

#env-navmenu ul {
    float: right;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
}

#env-navmenu ul li {
    margin-right: 60px;
}

#login-form {
    width: 40%;
    margin-top: 70px;
}
#login-form label {
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    margin-top: 5px;
}
#login-form button {
    
    background-color: #009900;
    border: 1px solid #009900;
    border-radius: 0px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#login-form button:hover {
    background-color: #404040;
    border: 1px solid #404040;
    
}

#login-form span a{
    
    float: right;
    margin-top: 10px;
    text-decoration: none;
}

#register-form {
    width: 40%;
    height: auto;
    margin-top: 70px;
}
#register-form label {
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    margin-top: 5px;
}
#register-form button {
    
    background-color: #009900;
    border: 1px solid #009900;
    border-radius: 0px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#register-form button:hover {
    background-color: #404040;
    border: 1px solid #404040;
    
}

#register-form span a{
    
    float: right;
    margin-top: 10px;
    text-decoration: none;
}

#register-form p{
    
    margin-top: 20px;
}

.ui-datepicker {
    background: #fff; /* Old browsers */
    background: #fff -moz-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* FF3.6+ */
    background: #fff -webkit-gradient((linear, left top, left bottom, color-stop(0%,#fcfcfc)), color-stop(100%,#fff)); /* Chrome,Safari4+ */
    background: #fff -webkit-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* Chrome10+,Safari5.1+ */
    background: #fff -o-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* Opera11.10+ */
    background: #fff -ms-linear-gradient(top, #fcfcfc 0%, #fff 100%); /* IE10+ */
    background: #fff linear-gradient(top, #fcfcfc 0%, #fff 100%); /* W3C */
    font-size:11px;
    padding:10px;
    border:1px solid #ccc;
}
 
.ui-datepicker table {
    width:278px;
}
 
.ui-datepicker table td {
    text-align:center;
}
 
.ui-datepicker a {
    cursor:pointer;
    text-decoration:none;
}
 
.ui-datepicker-prev {
}
 
.ui-datepicker-next {
    float:right;
}
 
.ui-datepicker-title {
    text-align: center;
    font-weight:bold;
}

#resetpass-form {
    width: 40%;
    margin-top: 70px;
}
#resetpass-form label {
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    margin-top: 5px;
}
#resetpass-form button {
    
    background-color: #FFA500;
    border: 1px solid #FFA500;
    border-radius: 0px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#resetpass-form button:hover {
    background-color: #009900;
    border: 1px solid #009900;
    
}

#resetpass-form span a{
    
    float: right;
    margin-top: 10px;
    text-decoration: none;
}


#faqs_head {
    
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #404040;
    margin-bottom: 10px;
}

#faqs_head h2:hover {
    color: #FFA500;
}

#faqs_jumbotron {
    border-radius: 0px;
    color: #ffffff;
}

#faqs_jumbotron p {
    
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    text-align: center;
}
.query {
    margin-top: 10px;
    border-radius: 5px 5px 0px 0px;
    border: 0px;
    
}
.query h5 {
    
    font-size: 20px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
}
.query span {
     color: #FFFFFF;
}
.query, .soln {
    padding: 2px;
    text-align: center;
    background-color: #2db82d;
}
.soln {
    background-color:#006400;
    border: solid 1px #c3c3c3;
    padding: 40px;
    display: none;
}
.soln a {
    font-weight: 400;
}
.soln a:hover {
    color: #ffb732;
    text-decoration: none;
}
.soln ul li {
    color: #FFFFFF;
    list-style-type: decimal;
}
.soln ul li h6 {
    font-size: 50px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
}

h2{
    color: #ffffff;
}


#submit-form form {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    padding: 30px;
    line-height: 30px;
}
#submit-form form:hover{
    border: 1px solid #FFA500;
    -webkit-box-shadow: 0px 0px 34px 1px rgba(250,172,15,1);
    -moz-box-shadow: 0px 0px 34px 1px rgba(250,172,15,1);
    box-shadow: 0px 0px 34px 1px rgba(250,172,15,1);
}
#submit-form h4 {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #404040;
    margin-right: 130px;
}
#submit-form button {
    background-color: #009900;
    border: 1px solid #009900;
    border-radius: 4px;
    margin-top: 15px;
}
#submit-form button:hover {
    background-color: #FFA500;
    border: 1px solid #FFA500;
    
}
#support-header {
    font-family: 'Courgette', cursive;
    font-size: 25px;
    text-align: center;
    color: #FFA500;
}
.support-contact {
    margin-top: 50px;
}
.support-contact img {
    width: 140px;
    height: 140px;
}
.support-contact h5 a {
    font-size: 15px;
    font-family: 'Noto Serif', serif;
    line-height: 16px;
    font-weight: 500;
}
.support-contact h5 a:hover {
    color: #FFA500;
    text-decoration: none;
}
.support-contact h5 a span {
    color: #46d246;
}
#faqs-snip {
    padding-top: 25px;
}
#faqs-snip img {
    padding-top: 10px;
}
#faqs-snip p {
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}
#faqs-snip p a:hover {
    color: #46d246;
}
.errors {
    color: #ff3232;
    margin-bottom:15px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    display: block;
}
#dropdownMenu1 {
    padding: 6px 40px 8px 40px;
    margin-right: 8px;
    margin-top: 100px;
    font-size: 18px;
    font-weight: 600;
    color: #f7f7f7;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffb732;
    border: 2px solid #ffb732;
    border-radius: 1px;
}
#details {
       position: relative;
    border-radius: 0px;
    margin: 0px;
    padding-right: 13px;
}
#details li a:hover {
    background-color: #ffb732;
    color:#f7f7f7; 
}
#new-surveys {
    width: 93%;
    margin-left: 50px;
    background: linear-gradient(
      rgba(34,139,34, 0.35), 
      rgba(34,139,34, 0.35)
    ), url("../images/index-back.jpg");
    border-radius: 3px;
}
#new-surveys h3 {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    margin-right: 30px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    border-radius: 4px;
    display: inline-block;
    margin-left: 80px;
    margin-bottom: 15px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card p {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fcfcfc;
}
.card div {
    padding: 2px 16px;
}
.card button {
    float: right;
    margin-bottom: 5px;
    background-color: #009900;
    border: 1px solid #009900;
    border-radius: 3px;
}
.card button a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}
.card button:hover {
    background-color: #ffb732;
    border: 1px solid #ffb732;
}
.brief-competition {
    overflow-y: auto;
    height: 250px;
    border-radius: 3px;
    margin-left: 50px;
    margin-right: 25px;
}
.surveys-done {
    overflow-y: auto;
    height: 250px;
    border-radius: 3px;
    margin-left: 50px;
    margin-right: 45px;
}
.comp-heading {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #202020;
    margin-right: 30px;
}

@media only screen and (max-width: 768px){  
    
    .h4reg{
            font-size: 25px;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #404040;
    }
        #buttons a {
            margin-right: 10px;
            margin-left: 20px;
            margin-top: 10px;
        }       
        #logo-link h2 {
            padding-left: 20px;
        }
        #env-navmenu ul {
            float: left;
            margin-left: 20px;
        }
        #env-navmenu ul li {
            margin-right: 0px;
        }
        #login-form {
           width: auto;
           margin-top: 70px;
        }
        #resetpass-form {
           width: auto;
           margin-top: 70px;
        }
        #register-form {
           width: auto;
           margin-top: 70px;
        }
        #submit-form form {
            width: auto;
        }
        #submit-form h4 {
            margin-right: auto;
        }
        #subscribe {
            padding-top: 15px;
            margin-left: 25px;
        }
        #nav-links h2 {
            padding-left: 25px;
        }
        #nav-links ul {
            padding-left: 25px;
        }
        #rel-links h2 {
            padding-left: 25px;
        }
        #rel-links ul {
            padding-left: 25px;
            padding-top: 5px;
        }
        #brief-support ul {
            padding-left: 25px;
        }
        #brief-support h2 {
            padding-left: 25px;
        } 
        #brief-support img {
            padding-left: 20px;
        }
        #dropdownMenu1 {
            margin-left: 22px;
            margin-right: 0px;
        }
        #details {
            position: absolute;
            margin-left: 22px;
        }
        #new-surveys {
           margin-left: 5px;
           width: 95%;
           padding-right: 10px;
           padding-left: 5px;
        }        
        .card {
            display: block;
            margin-left: 5px;
            width: auto;
            padding-bottom: 40px;
        }        
        .brief-competition {
            margin-left: 5px;
            margin-right: 13px;
        }        
        .surveys-done{
            margin-top: 15px;
            margin-left: 5px;
            margin-right: 13px;
        }
}

    
}